<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <!-- [ header starts here] -->
                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                    <tr><td><ul style=" float:left; padding:0px; margin-left:0px; background:#000000; height:25px; width:100%; margin-top:10px; list-style:none;">
<li style="float:left; list-style:none; padding:0px; margin:0px;"><a href="http://www.netakart.com/index.php/new-arrivals-61.html"><img src="http://www.netakart.com/skin/frontend/blacknwhite/default/images/mail/new-arrivals.jpg" /></a></li>
<li style="float:left; list-style:none; padding:0px; margin:0px;"><a href="http://www.netakart.com/index.php/men.html"><img src="http://www.netakart.com/skin/frontend/blacknwhite/default/images/mail/men.jpg" /></a></li>
<li style="float:left; list-style:none; padding:0px; margin:0px;"><a href="http://www.netakart.com/index.php/women.html"><img src="http://www.netakart.com/skin/frontend/blacknwhite/default/images/mail/women.jpg" /></a></li>
<li style="float:left; list-style:none; padding:0px; margin:0px;"><a href="#"><img src="http://www.netakart.com/skin/frontend/blacknwhite/default/images/mail/look-good.jpg" /></a></li>
<li style="float:left; list-style:none; padding:0px; margin:0px;"><a href="http://www.netakart.com/index.php/premium-collection.html"><img src="http://www.netakart.com/skin/frontend/blacknwhite/default/images/mail/premium-c.jpg" /></a></li>
</ul></td></tr>
<tr><td>We are glad to have you with us.<br /><br />

NETAKART brings enticing inaugural offers for everyone. But you, the Clayite can get 10% extra on top of the listed dicount. For example, if a product has 50% discount on it, you will get 50+10% discount on the same.<br /><br />

Use {{var promo_code}} while shopping on NETAKART and avail Clay Special Discount. This coupon is valid for one time only.
</td></tr>
<tr><td>                  <div style="float:left; width:100%;">
<h4 style=" color:#db0505; font-weight:normal; font-size:22px; margin-bottom:20px;"> Happy shopping!</h4>
         
 <div style="float:left; margin-bottom:20px;">          
 Warm regards,<br>
Team NetAKart<br>
<a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a>
</div>
           <div style="float:left; width:100%; margin-bottom:10px;">Have any questions, need any help, please write us to <a href="mailto:customercare@NetAKart.com">customercare@NetAKart.com</a> or call us at 011- 66470000, Mon- Fri, 9:30am to 6:00pm (with exception of Indian public holidays).</div>
           
           <div style="float:left; width:100%;"><span style="float:left; line-height:35px; margin-right:15px;">Connect with us</span>
                          <a href="https://www.facebook.com/Netakart"><img src="http://www.netakart.com/skin/frontend/blacknwhite/default/images/facebook-icon.jpg"></a> 
           <a href="https://twitter.com/Netakart"><img src="http://www.netakart.com/skin/frontend/blacknwhite/default/images/twitter-icon.jpg"></a> 
           <a href="#"><img src="http://www.netakart.com/skin/frontend/blacknwhite/default/images/g-pluse-icon.jpg"></a>
</div>
</div></td>
</tr>
<tr><td style="background:#000; color:#FFF; font-size:14px;">www.netakart.com <span style="float:right">Support:011-66470123</span></td></tr>
</table>
